<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board Write</title>
</head>
<body>
<form action="/board/write" method="post">
    <table>
        <tr>
            <th>제목</th>
            <td><input type="text" name="title" placeholder="제목을 입력해주세요."></td>
        </tr>
      
        <tr>
            <th>내용</th>
            <td><textarea name="content" cols="30" rows="10" placeholder="내용을 입력해주세요"></textarea></td>
        </tr>
      
        <tr>
            <th></th>
            <td></td>
        </tr>
      
    </table>
</form>
</body>
</html>